<!DOCTYPE html>
<html>
    <head>
        <title>Huffda</title>
    </head>
    <body>
        <h1>Hello, world!</h1>

        <p>What is {{thing}}</p>

        <script src="js/huffda.js"></script>
    </body>
</html>